{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["dist", ".eslintrc.cjs"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-refresh", "prettier", "no-loops"],
  "rules": {
    "react/button-has-type": "off",
    "react/function-component-definition": "off",

    "arrow-body-style": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "no-console": 2,
    "no-loops/no-loops": 2,
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ],
    "no-unused-vars": ["warn", { "vars": "all", "args": "none", "ignoreRestSiblings": false }],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-continue": "off",
    "spaced-comment": ["error", "always", { "exceptions": ["-", "+"] }],
    "no-floating-decimal": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ]
  }
}
